<footer>
  <div class="iconbar">
    <div class="iconbar__container">
      <a href="https://www.linkedin.com/in/cguo52/" class="iconbar__link iconbar__link--linkedin"><i
          class="icon fa fa-linkedin-square"></i></a>
      <a href="https://www.instagram.com/cguo52/" class="iconbar__link iconbar__link--instagram"><i
          class="icon fa fa-instagram"></i></a>
      <a href="https://weibo.com/1851498381" class="iconbar__link iconbar__link--weibo"><i
          class="icon fa fa-weibo"></i></a>
    </div>
  </div>
  ©2017-2019 Joe Guo
</footer>